:root, html {
  height: 100%;
  height: 100vh;
}

html,
body {
  min-height: 100%;
  position: relative;
  box-sizing: border-box;
}

#status-icon, #status-spinner {
  display: inline-block;
  margin-right: 0.33em;
  vertical-align: 0.1em;
}

.hidden {
  display: none !important;
}
