html,
body {
  height: 100%;
  background-color: #333;
}

body {
  height: auto;
  color: white;
  background-color: #333;
  padding: 1rem;
}

div, label {
  &.uk-form-label {
    color: white;
  }
}

h1.uk-heading-2xlarge {
  color: #444;
  font-weight: 300;
}

h2.uk-heading-small {
  color: gray;
  font-variant: small-caps;
  font-weight: 700;
}

.buttons {
  padding-top: 1rem;
}

input.uk-input {
  color: #222;
}
