body {
  background: black;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-repeat: no-repeat;
  font-family: BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.slides {
  flex-grow: 1;
  padding: 0.2em;
  line-height: 0.8em;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  position: relative;

  span {
    display: block;
    width: 100%;
  }
}

#current {
  font-size: 9vw;
}

#next {
  font-size: 6vw;
  color: yellow;
}

#clock, .slides {
  opacity: 1;
  transition: opacity 500ms ease;
}

#clock {
  display: none;
  position: absolute;
  top: 50%;
  text-align: center;
  width: 100%;
  transform: translateY(-50%);
  font-family: 'Major Mono Display', 'Roboto Mono', monospace;
  font-size: 20vw;

  // #s {
  //   position: absolute;
  //   bottom: 0;
  //   left: 50%;
  //   transform: translateX(-50%);
  //   font-size: 0.08em;
  // }
}

.invisible {
  opacity: 0 !important;
}

#status {
  align-self: flex-start;
  justify-self: flex-end;
  padding: 1em;
  position: absolute;
  left: 0;
  bottom: 0;
}

.small-caps {
  font-variant: small-caps;
}

.slides-vertical {
  &-center {
    .slides {
      justify-content: center;
    }
  }
  &-top {
    .slides {
      justify-content: flex-start;
    }
  }
  &-bottom {
    .slides {
      justify-content: flex-end;
    }
  }
}
