/*

IF YOU'RE NOT FAMILIAR WITH CSS

If you aren't familiar/comfortable with CSS, then I'd highly suggest checking out https://www.w3schools.com/css/default.asp
I use their database of information on a regular bases, and it can help you get the exact look you want on this

*/

* {
    padding: 0;
    margin: 0;
    color: white;
    font-size: 8px;
font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
     font-weight: 600;
    text-align: center;
    overflow: hidden;
}

#cs {
    width: 100%;
    padding: 0.5em 0;
    font-size: 5em;
    line-height: 1.2em;
    letter-spacing: 1px;
    position: absolute;
    bottom: 0;
    text-shadow: 1px 0px 0px black;
}
