/*

IF YOU'RE NOT FAMILIAR WITH CSS

If you aren't familiar/comfortable with CSS, then I'd highly suggest checking out https://www.w3schools.com/css/default.asp
I use their database of information on a regular bases, and it can help you get the exact look you want on this

*/

html,
body {
	height: 100%;
}

body {
	background: rgb(37,118,129) url("tlo.png") no-repeat right bottom;
	font-family: 'Roboto', sans-serif;
		 font-weight: 600;
		 color: white;
		 overflow: hidden;
display: flex;
align-items: center;
justify-content: center;
}

#cs {
	font-size: 4vw;
	width: 100%;
	line-height: 0.7;
	letter-spacing: 1px;
	position: absolute;
	text-shadow: 1px 0px 0px black;
	text-align: center;
		/* text-transform: uppercase; */
}

