/*

IF YOU'RE NOT FAMILIAR WITH CSS

If you aren't familiar/comfortable with CSS, then I'd highly suggest checking out https://www.w3schools.com/css/default.asp
I use their database of information on a regular bases, and it can help you get the exact look you want on this

*/

body {
    padding: 0;
    margin: 0;
    color: black;
   
font-family: 'Roboto', sans-serif;
    /*text-transform: lowercase;*/
    text-align: left;
    overflow: hidden;
}

#text0 {

    line-height: 1.2em;
	font-weight: 500;
    letter-spacing: 0px;
    text-shadow: 0px 0px 0px black;
}
#text1 {

	 font-size: 34px;
	text-transform: uppercase;
	font-weight: bold;
    line-height: 1.2em;
    letter-spacing: 0px;
    text-shadow: 0px 0px 0px black;
}

